In [88]:
import pandas as pd
df = pd.read_csv("dota.csv")
df.head()

,steam_id,match_id,player_slot,kills,deaths,assists,xpm,gpm,hero_id,duration,last_hits,lane,lane_role,start_time,hero_damage,hero_healing,apm,time_spent_dead
0,118728071,6920406682,4,10,2,8,560,426,26,1929,88,2,2,1671165229,14894,0,164,61
1,112127522,6920406682,1,8,0,9,684,646,41,1929,259,1,1,1671165229,15797,0,196,0
2,122334023,6914136246,1,10,5,27,670,370,5,2215,31,1,1,1670809762,28118,0,135,213
3,106975318,6809430182,132,5,9,17,498,303,30,2785,39,3,1,1665973075,14766,6090,142,370
4,110352369,6864995865,130,4,16,7,628,456,80,2406,201,3,1,1668487002,11890,0,283,717

In [89]:
db = df[['steam_id', 'match_id']]
df['steam_id'].dtypes, df['match_id'].dtypes,"\n",db['steam_id'].dtypes, db['match_id'].dtypes

(dtype('int64'), dtype('int64'), '\n', dtype('int64'), dtype('int64'))

In [90]:
checked_table = df[(df['steam_id'] == 112127522) & (df['match_id'] == 7291683573)]
checked_table

,steam_id,match_id,player_slot,kills,deaths,assists,xpm,gpm,hero_id,duration,last_hits,lane,lane_role,start_time,hero_damage,hero_healing,apm,time_spent_dead
1245,112127522,7291683573,132,4,16,13,440,361,14,2643,102,1,3,1692418689,17545,1444,131,561